@using MvcKütüphane.Models.Entity
@model List<TBLKİTAP>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazar: @ViewBag.y1</h2>
<br />
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kategori</th>
        <th>Yayınevi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.AD</td>
            <td>@item.TBLKATEGORİ.AD</td>
            <td>@item.YAYINEVİ</td>
        </tr>
    }
</table>

